@model UitgaveEditViewModel

<form asp-controller="movie" asp-action="edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Beschrijving"></label>
        <input class="form-control" asp-for="Beschrijving" />
        <span class="text-danger" asp-validation-for="Beschrijving"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bedrag"></label>
        <input class="form-control" asp-for="Bedrag" />
        <span class="text-danger" asp-validation-for="Bedrag"></span>
    </div>
    <div class="form-group">
        <label asp-for="Datum"></label>
        <input class="form-control" asp-for="Datum" />
        <span class="text-danger" asp-validation-for="Datum"></span>
    </div>
    <div class="form-group">
        <label asp-for="Soort"></label>
        <input class="form-control" asp-for="Soort" />
        <span class="text-danger" asp-validation-for="Soort"></span>
    </div>
    <div class="form-group">
        <label asp-for="Photo">
            <p> <img src="@Model.PhotoUrl" /></p>
            <input class="form-control" asp-for="Photo" />
            <span class="text-danger" asp-validation-for="Photo"></span>
        </label>

    </div>

    <div class="form-group">
        <label asp-for="Photo2">
            <p> <img src="@Model.PhotoUrl2" /></p>
            <input class="form-control" asp-for="Photo2" />
            <span class="text-danger" asp-validation-for="Photo2"></span>
        </label>

    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>
<a asp-controller="Uitgave" asp-action="Index">Terug naar overzicht</a>